Repository motchie8/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-shell, format-lua, format-json-yaml-md, format-toml, format-python, lint-python

lint-shell:
  name: lint shell scripts
  entry: ./bin/lint.sh --shell
  language: system
  require_serial: true

format-lua:
  name: format lua files
  entry: ./bin/format.sh --lua
  language: system
  require_serial: true

format-json-yaml-md:
  name: format json/yaml/markdown files
  entry: ./bin/format.sh --json-yaml
  language: system
  require_serial: true

format-toml:
  name: format toml files
  entry: ./bin/format.sh --toml
  language: system
  require_serial: true

format-python:
  name: format python files
  entry: ./bin/format.sh --python
  language: system
  require_serial: true

lint-python:
  name: lint python files
  entry: ./bin/lint.sh --python
  language: system
  require_serial: true

Reduce disk usage in GitHub Actions
  .github/workflows/build_and_push_docker_image.yml
  bin/install_essentials.sh
Due: lint-shell, format-json-yaml-md

Remove unused files
  docs/design/gemini-cli-toggle/interfaces.lua
  docs/screenshot.png
Due: format-lua

Update lua style
  .stylua.toml
Due: format-toml

Update plugin settings
  lua/plugins/ai.lua
  lua/plugins/lsp.lua
Due: format-lua

Format
  init.lua
  lua/plugins/ai.lua
  lua/plugins/csv.lua
  lua/plugins/debug.lua
  lua/plugins/edit.lua
  lua/plugins/format.lua
  lua/plugins/git.lua
  lua/plugins/lsp.lua
  lua/plugins/markdown.lua
  lua/plugins/python.lua
  lua/plugins/snippet.lua
  lua/plugins/sql.lua
  lua/plugins/telescope.lua
  lua/plugins/terminal.lua
  lua/plugins/treesitter.lua
  lua/plugins/ui.lua
  lua/plugins/utils.lua
  lua/plugins/vimwiki.lua
  snippets/luasnip/aichat.lua
  snippets/luasnip/markdown.lua
  snippets/luasnip/python.lua
  snippets/luasnip/sh.lua
Due: format-lua

Remove unused lib
  bin/install_dev_env_libs.sh
Due: lint-shell

Add sidekick settings and remove aider settings
  .env.example
  bin/install_dev_env_libs.sh
  bin/setup_symbolic_links.sh
  config/aider/aider.conf.example.yml
  config/aider/aider.mcp.profiles.example.yml
  lua/plugins/ai.lua
  lua/plugins/lsp.lua
Due: lint-shell, format-lua, format-json-yaml-md

Add commands to split and open terminal
  init.lua
Due: format-lua

Remove sidekick settings
  lua/plugins/ai.lua
Due: format-lua

Update lsp configs
  lua/plugins/lsp.lua
Due: format-lua

Add settings for tmux-plugin-manager and tmux-thumbs
  bin/install_dev_env_libs.sh
  bin/setup_symbolic_links.sh
  tmux/tmux.common.conf
Due: lint-shell

Add installation for ACPs
  bin/install_dev_env_libs.sh
Due: lint-shell

Add blink-copilot settings
  lua/plugins/lsp.lua
Due: format-lua

Add settings for agentic.nvim
  lua/plugins/ai.lua
Due: format-lua

Update LSP and AI plugin settings
  lua/plugins/ai.lua
  lua/plugins/lsp.lua
Due: format-lua

Fix uv sync execution condition
  bin/install_essentials.sh
Due: lint-shell

Add a keymap
  init.lua
Due: format-lua

Update settings for agentic.nvim
  lua/plugins/ai.lua
  lua/plugins/markdown.lua
Due: format-lua

Remove TaskWarrior integration
  Makefile
  README.md
  bin/setup_task_sync.sh
  bin/setup_taskwarrior.sh
  lua/plugins/vimwiki.lua
Due: lint-shell, format-lua, format-json-yaml-md

Update snippet
  snippets/luasnip/markdown.lua
Due: format-lua

Update agentic.nvim settings
  lua/plugins/ai.lua
Due: format-lua

Fix docker cicd / remove unused settings
  cheatsheet.txt
  coc-settings.json
  docker/ubuntu/Dockerfile
  init.lua
Due: format-lua, format-json-yaml-md

Fix cicd
  docker/ubuntu/Dockerfile
Due: none

Move python deps installation
  bin/install_dev_env_libs.sh
  bin/install_essentials.sh
Due: lint-shell

Add k9s installation
  bin/install_dev_env_libs.sh
Due: lint-shell

Add installation of ripgrep
  bin/install_dev_env_libs.sh
Due: lint-shell

Add settings for obsidian.nvim
  lua/plugins/lsp.lua
  lua/plugins/telescope.lua
  lua/plugins/vimwiki.lua
Due: format-lua

Disable agentic.nvim / update keymaps for telescope / fix obsidian.nvim repo name
  lua/plugins/ai.lua
  lua/plugins/telescope.lua
  lua/plugins/vimwiki.lua
Due: format-lua

Update settings for obsidian.nvim
  lua/plugins/markdown.lua
  lua/plugins/ui.lua
  lua/plugins/wiki.lua
Due: format-lua

Update folder for daily notes
  lua/plugins/wiki.lua
Due: format-lua

Add custom command for obsidian.nvim / remove vimwiki / change event for copilot.lua
  lua/plugins/ai.lua
  lua/plugins/wiki.lua
Due: format-lua

Update daily note command
  lua/plugins/ui.lua
Due: format-lua

Refactor init.lua
  init.lua
  lua/core/autocmds.lua
  lua/core/commands.lua
  lua/core/keymaps.lua
  lua/core/options.lua
Due: format-lua

Add markdown table formatter
  lua/plugins/markdown.lua
Due: format-lua

Path conditions:
  lint-shell: any of: \.sh$
  format-lua: any of: \.lua$
  format-json-yaml-md: any of: \.(json|ya?ml|md)$
  format-toml: any of: \.toml$
  format-python: any of: \.py$
  lint-python: any of: \.py$
